.header {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.contentContainer > h1 {
  max-width: 200px;
}

.icon {
  z-index: 1;
  min-width: 20px;
  cursor: pointer;
  fill: var(--white);
}

.stickyHeader {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: var(--floating-header-height);
  padding: 0 !important;
  background-color: rgba(var(--background-black), 0.9);
  transition: transform 0.4s;
  transform: translateY(-100px);
  composes: header;
  backdrop-filter: blur(24px);
}

.stickyHeader > .contentContainer > h1 {
  margin: 0;
  padding: 0;
}

.stickyHeaderVisible {
  transform: translateY(0);
}

.burger {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .header {
    padding-top: 50px;
  }
}
