.wrapper {
  max-width: 100%;
  height: 100vh;
  background-color: var(--background-black);
}

.section {
  height: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  height: 100%;
}

.actionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 500;
  text-shadow: 0 0 4px var(--black);
}

.actionText > span {
  color: var(--accent-color);
}

.button {
  margin-top: 4em;
  max-width: 514px;
}

@media (min-width: 1024px) {
  .actionText {
    font-size: 5em;
  }
}
