.wrapper {
  max-width: 100%;
  height: 100vh;
}

.section {
  height: 100%;
}

.actionContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  height: 100%;
}

.actionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 500;
  text-shadow: 0 0 4px var(--black);
}

.button {
  margin-top: 4em;
  max-width: 514px;
}

.inline {
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.image {
  display: none;
  margin-bottom: 47px;
}

.mobilePhoto {
  display: block;
}

@media (min-width: 1024px) {
  .actionText {
    font-size: 5em;
  }

  .image {
    display: block;
    align-self: flex-end;
  }

  .mobilePhoto {
    display: none;
  }
}
