.post {
  margin-top: 200px;
}

.backButton {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--white);
  margin: 2em 0 2em -12px;
  cursor: pointer;
}

.backButton:hover {
  text-decoration: underline;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--white);
}
