.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: -35px auto 1em;
  box-shadow: 0px 0px 15px 4px var(--background-black);
}

.marqueeText {
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  animation: marquee 100s infinite linear;
}

.marqueeText > span {
  margin-right: 1rem;
}

.marqueeText > span:nth-child(2n) {
  color: var(--color-white);
}

.cases {
  display: flex;
  width: 100%;
  gap: 1em;
  justify-content: center;
  margin-bottom: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1em;
  flex-basis: 100%;
}

.cases > div:first-child > article:nth-child(2n + 2) {
  background-color: var(--black);
  box-shadow: -2px 0px 30px 0px rgba(0 0 0 / 60%);
}

.cases > div:last-child > article:nth-child(2n + 2) {
  background-color: var(--white);
  color: var(--black);
  text-shadow: none;
  box-shadow: -2px 0px 30px 0px rgba(255 255 255 / 30%);
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@media (min-width: 768px) {
  .marquee {
    font-size: 2em;
    margin: -54px auto 1em;
  }

  .cases {
    flex-direction: row;
  }

  .column {
    flex-basis: 50%;
  }
}
