.post {
  min-height: calc(100vh - 258px);
}

.post img {
  width: 100%;
}

.backButton {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  color: var(--white);
  margin: 1em 0 1em -12px;
  cursor: pointer;
}

.backButton:hover {
  text-decoration: underline;
}

.icon {
  width: 25px;
  height: 25px;
  stroke: var(--white);
}
